services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_DATABASE: assignment_db
      MYSQL_USER: assignment_user
      MYSQL_PASSWORD: pass123
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: backend-app
    depends_on:
      - mysql-db
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend-app
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mysql-data:
